@import '~sass-mq';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #060608;
    background-image: linear-gradient(45deg, #131319 0%, black 100%);
    background-attachment: fixed;
    color: white;
}

$font-mono: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, "Hiragino Sans GB", "Microsoft YaHei", monospace;

.source {
    margin: 3rem auto;
    padding: 0 2.0rem;
    max-width: 120ch;
    white-space: pre-wrap;

    @include mq($from: tablet) {
        padding: 0 2.5rem;
    }

    @include mq($from: desktop) {
        margin: 5rem auto;
        padding: 0 3.0rem;
    }
}

pre,
code {
    font-family: $font-mono;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.01rem;

    @include mq($from: tablet) {
        line-height: 1.3;
    }
}

span {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: default;

    &:hover {
        position: relative;
        z-index: 1;
        background-color: black;
        transform: scale(1.3);
    }

    &.comment {
        color: #5f615d;
    }

    &.angle-bracket {
        color: #1d671d;
    }

    &.tag {
        color: #57ca3c;
    }

    &.key {
        color: #c8ec83;
    }

    &.eq {
        color: #169c72;
    }

    &.quote {
        color: #3d5010;
    }

    &.value {
        color: #f5a076;
    }
}

.link {
    display: inline-block;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        position: relative;
        z-index: 1;
        background-color: white;
        color: black;
        transform: scale(1.5);
    }
}

.caret {
    padding-right: 0.2rem;
    border-right: 0.1rem solid white;
    margin-right: 0.1rem;
    animation: blinker 1s ease infinite;

    &::before {
        content: "\200b";
    }
}

@keyframes blinker {
    50% {
        border-right-color: black;
    }
}
